.container{
  margin-left: 20%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: baseline;
  justify-content: space-between;
  align-content: center;
  background-color: $white;
}

.item{
  box-sizing: border-box;
  width: 95%;
  background-color: $white;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 10%;

  &--awesome{
    width: 100%;
    display: inline-block;

  i{
    color: $negro_raro;
    margin: 1%;

  }

  }
  &__exp{
    width: 90%;
    display: inline-block;
    align-content: baseline;
    h4{
      margin-top: 5%;
    }
    &--h5mar{
      margin-top: 5%;
      margin-bottom: 8%;

    }
  }
  &__contenido{
  p{
    font-weight: $light;
  }

  &--plarge{
    font-size: $large;

  }

  }
  &__fecha{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;


  }

}


.item p{
  margin-top: 5%;
}
