
.navigation{
  width: 20%;
  position: fixed;
  height: 100%;
  display: block;
  background-color: $verde_Agua;


}
.color{
  color: $negro_raro;

}
.nav-link{
  &--color{
    color: $negro_raro;
    font-family: $lato;
    font-weight: $bold;
  }
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-nav {
  flex-direction: column;
  padding: 2%;
  margin: 15%;
}
.navbar-brand{
  display: block;
}


.navigation{
  width: 20%;
  position: fixed;
  height: 100%;
  display: block;


&__logo{
  width:90%;

}

}
.nav-link{
  &--color{
    color: $negro_raro;
    font-family: $lato;
    font-weight: $bold;
}
}
}
